* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #e4e4e4;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --footer-height:px;
}

@-webkit-keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes shakeDownwards {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 8%;
  }
}

@keyframes shakeDownwards {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 8%;
  }
}

@-webkit-keyframes scaleAndFade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes scaleAndFade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-size: 1.3rem;
}

header .burger {
  display: none;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  height: 64px;
}

header nav {
  width: 70%;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li:hover {
  text-decoration: underline;
}

header nav ul .navLink--active {
  color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header nav ul .li--animation {
  -webkit-animation-name: navLinkFade;
          animation-name: navLinkFade;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header--scrolled {
  background-color: rgba(0, 0, 0, 0.589);
  padding: 20px 20px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  .htmlOverlay {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  .overlay--visible {
    background: rgba(0, 0, 0, 0.45);
    pointer-events: auto;
  }
  header .burger {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
    cursor: pointer;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  header .burger div {
    width: 25px;
    height: 3px;
    background-color: #cfcfcf;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header .burger-toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  header .burger-toggle .line2 {
    opacity: 0;
  }
  header .burger-toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  header .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    max-width: none;
  }
  header nav {
    max-width: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.555);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform .25s ease-in;
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in, -webkit-transform .25s ease-in;
  }
  header nav ul {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    padding: 12px 0;
  }
  header nav ul li {
    opacity: 0;
  }
  header nav .navLink--active a {
    font-size: 1.5rem;
  }
}

.body__wrapper {
  min-height: 100%;
  margin-bottom: calc(-1 * var(--footer-height));
  padding-bottom: var(--footer-height);
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}

footer .footer__itemWrapper {
  width: 33.3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__adress {
  padding: 12px;
}

footer .footer__certificate {
  padding: 12px;
  text-align: center;
}

footer .footer__some {
  padding: 12px;
  text-align: center;
}

footer .footer__some .some__imgCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
}

footer .footer__some .some__imgCont img {
  margin: 12px;
  width: 64px;
  border-radius: 50%;
  -webkit-box-shadow: 0 12px 15px -8px black;
          box-shadow: 0 12px 15px -8px black;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

footer .footer__some .some__imgCont img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__itemWrapper {
    width: auto;
  }
}

.banner {
  background-blend-mode: darken;
  background-position: center;
  max-width: 100%;
  background-size: cover;
  min-height: 450px;
  position: relative;
}

.banner .bannertext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 400px;
  width: 85vw;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.gallery__main img {
  margin: 10px;
  height: 300px;
}

.gallery__main .main__bgWrap {
  background-color: #d3d3d3;
  background-image: url("https://www.transparenttextures.com/patterns/squared-metal.png");
  padding-bottom: 100px;
}

.gallery__main .main__btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}

.gallery__main .main__btnContainer .filter--active {
  border-color: black grey grey black;
  background-color: white;
}

.gallery__main .main__btnContainer button {
  color: black;
  font-family: 'Raleway', sans-serif;
  padding: 12px;
  width: 100px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: grey black black grey;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.gallery__main .main__imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gallery__main .main__imgContainer img {
  width: 360px;
  border: 1px solid #474747;
}

.gallery__main .main__imgContainer .img--hidden {
  display: none;
}

.gallery__main .main__imgContainer div {
  color: black;
  font-size: 2rem;
}

.referencer__main {
  margin-bottom: -5px;
}

.referencer__main .infographic {
  max-width: 100%;
  margin: 0;
}

.referencer__main .referenceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #d3d3d3;
  background-image: url("https://www.transparenttextures.com/patterns/squared-metal.png");
}

.referencer__main .imgContainer {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 40px;
}

.referencer__main .imgContainer img {
  width: 15vw;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 100ms;
  transition: 100ms;
}

.referencer__main img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.referencer__main .text {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.referencer__main .text h1 {
  color: #353535;
  margin-bottom: 100px;
  text-align: center;
}

.referencer__main #textDisplay {
  max-width: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color: white;
  padding: 20px;
  font-size: 20px;
  letter-spacing: -1px;
  -webkit-box-shadow: 0 12px 15px -8px black;
          box-shadow: 0 12px 15px -8px black;
  display: block;
  font-style: italic;
  text-align: center;
}

.referencer__main .referenceContainerB2b {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.referencer__main .referenceContainerB2b h1 {
  color: #3f3f3f;
  text-align: center;
}

.referencer__main .referenceContainerB2b .qouteImg {
  width: 250px;
  padding: 50px;
}

.referencer__main .mobileText {
  display: none;
}

.referencer__main .infographicMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .referencer__main #textDisplay {
    display: none;
  }
  .referencer__main .infographic {
    display: none;
  }
  .referencer__main .infographicMobile {
    display: block;
    width: 100%;
    margin: 1px 0;
  }
  .referencer__main .mobileText {
    color: black;
    display: block;
    text-align: center;
    max-width: 50%;
    margin-top: 30px;
    padding: 10px;
  }
  .referencer__main .text {
    display: none;
  }
  .referencer__main .imgContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0;
  }
  .referencer__main .imgContainer img {
    width: 50%;
  }
  .referencer__main .referenceContainer {
    height: auto;
  }
}

.partner__main {
  background-image: url("https://www.transparenttextures.com/patterns/squared-metal.png");
  background-color: #d3d3d3;
  padding-bottom: 40px;
}

.partner__main img {
  width: 25vw;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  padding: 45px;
}

.partner__main img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.partner__main .partnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.partner__main #textDisplay {
  font-size: 20px;
  width: 38vw;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply;
  color: #fcfcfc;
  padding: 25px;
  border-radius: 3px;
  -webkit-box-shadow: 0 12px 15px -8px black;
          box-shadow: 0 12px 15px -8px black;
}

.partner__main .mobileText {
  display: none;
}

@media screen and (max-width: 768px) {
  .partner__main #textDisplay {
    display: none;
  }
  .partner__main .mobileText {
    color: black;
    display: block;
    text-align: center;
  }
  .partner__main img {
    padding: 0;
    margin-top: 80px;
    width: 300px;
  }
}

.contact__main {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply;
}

.contact__main .main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 12px;
  height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__main .main__info div {
  background-color: #cfcfcf;
  border-radius: 3px;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 12px 15px -8px black;
          box-shadow: 0 12px 15px -8px black;
}

.contact__main .main__info div img {
  width: 100%;
  max-width: 200px;
  padding-bottom: 36px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.contact__main .main__info div img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.contact__main .main__info div p {
  text-align: center;
  color: black;
  font-size: 1.5rem;
}

.contact__main .main__map .map__header {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 24px;
}

.contact__main .main__map #map {
  height: 50vh;
}

.contact__main .main__map #map .marker {
  background-image: url("../media/images/contact/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.contact__main .main__map #map .mapboxgl-popup {
  max-width: 200px;
}

.contact__main .main__map #map .mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

@media only screen and (max-width: 768px) {
  .contact__main .main__info {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__main .main__info div {
    margin: 30px auto;
  }
}

.index__main .main__intro {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.363);
  background-blend-mode: darken;
  background-image: url("../media/images/index/intro.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.index__main .main__intro .intro__logo {
  width: 30vw;
}

.index__main .main__intro .intro__logo img {
  width: 100%;
}

.index__main .main__intro .intro__arrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 7vh;
  -webkit-animation: shakeDownwards 1s infinite ease-in alternate;
          animation: shakeDownwards 1s infinite ease-in alternate;
  cursor: pointer;
}

.index__main .main__intro .intro__arrow img {
  height: 100%;
}

.index__main .main__concept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply;
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__main .main__concept div {
  background-color: #cfcfcf;
  height: 60vh;
  max-height: 550px;
  border-radius: 3px;
  padding: 24px;
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 12px 15px -8px black;
          box-shadow: 0 12px 15px -8px black;
}

.index__main .main__concept div img {
  width: 100%;
  max-width: 200px;
  padding-bottom: 12px;
}

.index__main .main__concept div h1 {
  color: black;
  text-align: center;
}

.index__main .main__concept div p {
  text-align: center;
  color: black;
}

.index__main .main__video {
  position: relative;
}

.index__main .main__video .video__short {
  max-height: 70vh;
  overflow: hidden;
}

.index__main .main__video .video__short video {
  width: 100%;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.index__main .main__video .video__short .short__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  height: clamp(50px, 20vw, 200px);
  width: clamp(50px, 20vw, 200px);
  color: black;
  cursor: pointer;
}

.index__main .main__video .video__short .short__btn .btn__outline {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  height: clamp(50px, 20vw, 200px);
  width: clamp(50px, 20vw, 200px);
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-animation: scaleAndFade 2s infinite linear;
          animation: scaleAndFade 2s infinite linear;
}

.index__main .main__video .video__short .short__btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  width: 50%;
}

.index__main .main__video .video__full {
  display: none;
}

.index__main .main__video .video__full video {
  width: 100%;
}

.index__main .main__gallery {
  padding: 36px 0;
  text-align: center;
  background-color: #d3d3d3;
  background-image: url("https://www.transparenttextures.com/patterns/squared-metal.png");
}

.index__main .main__gallery .gallery__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  position: relative;
}

.index__main .main__gallery .gallery__wrap .wrap__slide {
  scroll-behavior: smooth;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.index__main .main__gallery .gallery__wrap .wrap__slide img {
  height: 100%;
}

.index__main .main__gallery .gallery__wrap #nextBtn, .index__main .main__gallery .gallery__wrap #prevBtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 24px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  cursor: pointer;
}

.index__main .main__gallery .gallery__wrap #nextBtn img, .index__main .main__gallery .gallery__wrap #prevBtn img {
  width: 36px;
}

.index__main .main__gallery .gallery__wrap #nextBtn {
  right: 12px;
}

.index__main .main__gallery .gallery__wrap #nextBtn img {
  -webkit-transform: rotateZ(270deg);
          transform: rotateZ(270deg);
}

.index__main .main__gallery .gallery__wrap #prevBtn {
  left: 12px;
}

.index__main .main__gallery .gallery__wrap #prevBtn img {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.index__main .main__gallery .gallery__cta {
  color: white;
  font-size: 1.3rem;
  padding: 48px 0 24px 0;
}

.index__main .main__gallery .gallery__cta .cta__link {
  padding: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply;
  -webkit-box-shadow: 0 12px 15px -8px black;
          box-shadow: 0 12px 15px -8px black;
}

@media only screen and (max-width: 768px) {
  .index__main .main__concept {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index__main .main__concept div {
    margin: 15px auto;
  }
  .index__main .main__video .video__short {
    height: 40vh;
  }
  .index__main .main__video .video__short video {
    height: 100%;
    width: auto;
  }
  .index__main .main__gallery #nextBtn, .index__main .main__gallery #prevBtn {
    display: none;
  }
  .index__main .main__gallery #slider {
    overflow-x: scroll;
  }
}
/*# sourceMappingURL=style.css.map */