.banner{
    //background-image: ; add bg image in the styling for specific page
    //background-color: ; add bg color in the styling for specific page
    background-blend-mode: darken;
    background-position: center;
    max-width: 100%;
    background-size: cover;
    min-height:450px;
    position:relative;
    .bannertext{
        position:absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        max-width: 400px;
        width:85vw;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
    }
}