.partner__main {
    background-image: url("https://www.transparenttextures.com/patterns/squared-metal.png");
    background-color: #d3d3d3;
    padding-bottom: 40px;
    img{
        width: 25vw;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        padding: 45px;
    }
    img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
    .partnerContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-items: center;
       
    }
    #textDisplay{
        font-size: 20px;
        width: 38vw;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
        color: rgb(252, 252, 252);
        padding: 25px;
        border-radius: 3px;
        box-shadow: 0 12px 15px -8px black;
    }
    .mobileText{
        display:none;
    }

    @media screen and (max-width: 768px) {
        #textDisplay{
        display: none;
        }
        .mobileText{
            color: black;
            display:block;
            text-align: center;
        }
        img{
            padding: 0;
            margin-top:80px;
            width: 300px;
        }
    }
}